﻿body {
    margin: 0;
    padding: 0;
}

.conteiner {
    margin: 30px auto;
    width: 90%;
}

.slider {
    margin-bottom: 25px;
    padding-bottom: 5px;
    overflow: auto;
}

ul {
    white-space: nowrap;
}

ul, li {
    list-style: none;
    display: inline;
    padding-left: 10px;
}

    li > div >img:hover {
        cursor: pointer;
    }

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.bigFoto {
    float: left; 
    width: 35%; 
    height: 250px;
    padding: 10px;
}

.exifInfo{
    float: left; 
    width: 25%; 
    height: 250px;
    margin: 10px; 
    padding: 10px;
    overflow-y:auto;
}
.googleMap {
    float: left; 
    width: 35%;
    height: 250px; 
    margin: 10px; 
    padding: 10px;
}

.commentZone {
    margin-top:10px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    overflow: auto;
}

[contenteditable="true"] {
    width: 800px;
    margin-right: 30px;
    margin-top:2px;
    outline: 2px dashed #CCC;
    text-align:center;
}

    [contenteditable="true"]:hover {
        outline: 2px dashed #0090D2;
    }

.title {
    text-decoration:underline;
    font-style:italic;
    font:medium;
    font-weight:bold;
}
.key{
    font-weight:bold;
    font:small;
}
.value {
    font:small;
}
.input{
    margin-bottom: 7px; 
}

.ImgOnImg {
    position: relative;
    display:inline-block;
}
.downImg {
    position:relative;
    top: 0;
    left: 0;
    width:150px;
    height:120px;
}
.upImg {
    position:relative;
    top:-48px;
    right:27px;
    width:20px;
    height:20px;
}
.upImg:hover {
    cursor:pointer;
    background-color:black;
}

