﻿@model PictureGallery.Model.Models.FotoInfo
@{
    ViewBag.Title = "Home Page";
}

<div class="conteiner">
    <div class="slider">
        <ul id="fotoLine"></ul>
    </div>
    <div class="centerPart">
        <div class="clearfix">
            <div id="bigFoto" class="bigFoto"></div>
            <div id="exifInfo" class="exifInfo"></div>
            <div id="googleMap" class="googleMap"></div>
        </div>
        <div id="commentZone" class="commentZone"></div>
    </div>
    <hr />
    <div class="loader">
        <input id="bannerImage" name="bannerImage" type="file" class="input" accept="image/png, image/gif, image/jpeg, image/jpg, image/tiff">
        <input id="upload"  type="button" value="upload" class="input">
    </div>
</div>